<div class="reveal" id="enquireModal" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
    <h3>Enquire</h3>
    <p>If you haven't been able to find the information you require in the "Download" or "Services" tab then please send us your enquiry</p>
    <form action="">
        <input type="text" placeholder="Client Name">
        <select>
            <option value="" disabled selected>Subject</option>
            <option value="1">Availability and lead time</option>
            <option value="2">Invoice and Payment</option>
            <option value="3">Quotation</option>
            <option value="3">Design Scheme Service</option>
            <option value="3">Regular Garden Care</option>
            <option value="3">Rejuvenation Service</option>
            <option value="3">Other</option>
        </select>
        <textarea placeholder="Query"></textarea>
        <button class="button default " type="submit">Send</button>
    </form>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <i class="icn icon-close"></i>
    </button>
</div>