<div class="title-bar" data-responsive-toggle="main-nav" data-hide-for="large">
    <div class="title-bar-left">
        <a href="#">
            <i class="icn icon-logo_simple"></i>
        </a>
    </div>
    <div class="title-bar-right">
        <button class="menu-icon" type="button" data-toggle="main-nav"></button>
    </div>
</div>
<div class="top-bar fast" id="main-nav" data-animate="slide-in-down slide-out-up" animation-duration="0.1s">
    <div class="top-bar-left show-for-large">
        <a href="index.html">
            <img class="logo_full" src="../assets/img/sb-wht-logo.svg" alt="Horticulture logo white full">
            <i class="logo_simple icn icon-logo_simple"></i>
        </a>
    </div>
    <div class="top-bar-right">
        <ul class="dropdown menu vertical large-horizontal main_nav" data-dropdown-menu>
            <li><a href="#">About</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="showcase.html">Showcase</a></li>
            <li><a href="#">Testimonials</a></li>
            <li><a href="style_guide.html">Downloads</a></li>
            <li><a href="#">Contact</a></li>
            <li class="active"><a href="javascript:void(0)" data-open="exampleModal">Enquire</a></li>
        </ul>
        <ul class="menu vertical large-horizontal contact_nav show-for-large" data-dropdown-menu>
            <li><a href="#">01494 717 737</a></li>
            <li><a href="#">07553 227706</a></li>
        </ul>
    </div>
</div>