<section class="partners_section">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-4 medium-2">
                <a href="http://www.thegardenersguild.co.uk/">
                    <img src="{{root}}assets/img/partners/logo-tgg.svg" alt="The Gardeners Guild logo">
                </a>
            </div>
            <div class="cell small-4 medium-2">
                <a href="{{root}}assets/downloads/public_liabilty_insurance_certificate.pdf" download="Public Liability Insurance Certificate.pdf">
                    <img src="{{root}}assets/img/partners/logo-pbi.svg" alt="Public Liability Insurance logo">
                </a>
            </div>
            <div class="cell small-4 medium-2">
                <a href="https://www.nptc.org.uk/">
                    <img src="{{root}}assets/img/partners/logo-nptc.svg" alt="NPTC logo">
                </a>
            </div>
            <div class="cell small-4 medium-2">
                <a href="http://www.lantra.co.uk/">
                    <img src="{{root}}assets/img/partners/logo-lantra.svg" alt="Lantra awards logo">
                </a>
            </div>
            <div class="cell small-4 medium-2">
                <a href="https://www.cityandguilds.com/">
                    <img src="{{root}}assets/img/partners/logo-cg.svg" alt="City Guilds logo">
                </a>
            </div>
            <div class="cell small-4 medium-2">
                <a href="https://environment.data.gov.uk/public-register/waste-carriers-brokers/registration/CBDL196022?__pageState=result-all">
                    <img src="{{root}}assets/img/partners/logo-envir.svg" alt="Environment logo">
                </a>
            </div>
        </div>
    </div>
</section>