
<section class="slider_section showcase_details_page">
    <div class="grid-container">
        <h3>Related projects</h3>
        <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="autoplay:false;">
            <div class="orbit-wrapper">
                <div class="orbit-controls">
                    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span><img src="../../assets/img/slider/arrow_left_green.svg" alt="Arrow left"></button>
                    <button class="orbit-next"><span class="show-for-sr">Next Slide</span><img src="../../assets/img/slider/arrow_right_green.svg" alt="Arrow right"></button>
                </div>
                <ul class="orbit-container">
                    <li class="is-active orbit-slide">
                        <figure class="orbit-figure">
                            <div class="grid-x">
                                <div class="cell small-4 medium-4">
                                    <a href="">
                                        <img src="../assets/img/showcase/beechcroft_front_project/after.jpg" alt="After img">
                                        <h3>Beechcroft Front Project</h3>
                                    </a>
                                </div>
                                <div class="cell small-4 medium-4">
                                    <img src="../assets/img/showcase/beechcroft_rear_phase1/after.jpg" alt="After img">
                                    <h3>Beechcroft Rear Phase 1</h3>
                                </div>
                                <div class="cell small-4 medium-4">
                                    <img src="../assets/img/showcase/beechcroft_rear_phase2/after.jpg" alt="After img">
                                    <h3>Beechcroft Rear Phase 2</h3>
                                </div>
                            </div>
                        </figure>
                    </li>
                    <li class="orbit-slide">
                        <figure class="orbit-figure">
                            <div class="grid-x">
                                <div class="cell small-4 medium-4">
                                    <img src="../assets/img/showcase/cedar_tree_house/after.jpg" alt="After img">
                                    <h3>Cedar Tree House</h3>
                                </div>
                                <div class="cell small-4 medium-4">
                                    <img src="../assets/img/showcase/cedar_tree_house_phase2/after1.jpg" alt="After img">
                                    <h3>Cedar Tree House Phase 2</h3>
                                </div>
                                <div class="cell small-4 medium-4">
                                    <img src="../assets/img/showcase/hay_knives/after.jpg" alt="After img">
                                    <h3>Hay Knives</h3>
                                </div>
                            </div>
                        </figure>
                    </li>
                    <li class="orbit-slide">
                        <figure class="orbit-figure">
                            <div class="grid-x">
                                <div class="cell small-4 medium-4">
                                    <img src="../assets/img/showcase/watchet_lane/after.jpg" alt="After img">
                                    <h3>Watchet Lane</h3>
                                </div>
                                <div class="cell small-4 medium-4">
                                    <img src="../assets/img/showcase/well_cottage/after.jpg" alt="After img">
                                    <h3>Well Cottage</h3>
                                </div>
                            </div>
                        </figure>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>