/* BEGIN Bold*/
@font-face {
  font-family: 'gotham_bold';
  src: url('../fonts/GothamBold.eot');
  src: url('../fonts/GothamBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamBold.woff') format('woff'),
  url('../fonts/GothamBold.ttf') format('truetype'),
  url('../fonts/GothamBold.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}
/* END Bold*/

/* BEGIN Black*/
@font-face {
  font-family: 'gotham_black';
  src: url('../fonts/GothamBlack.eot');
  src: url('../fonts/GothamBlack.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamBlack.woff') format('woff'),
  url('../fonts/GothamBlack.ttf') format('truetype'),
  url('../fonts/GothamBlack.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}
/* END Black*/

/* BEGIN Book*/
@font-face {
  font-family: 'gotham_book';
  src: url('../fonts/GothamBook.eot');
  src: url('../fonts/GothamBook.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamBook.woff') format('woff'),
  url('../fonts/GothamBook.ttf') format('truetype'),
  url('../fonts/GothamBook.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
/* END Book*/

/* BEGIN Book Italic*/
@font-face {
  font-family: 'gotham_book_italic';
  src: url('../fonts/GothamBookItalic.eot');
  src: url('../fonts/GothamBookItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamBookItalic.woff') format('woff'),
  url('../fonts/GothamBookItalic.ttf') format('truetype'),
  url('../fonts/GothamBookItalic.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
/* END Book*/

/* BEGIN Light*/
@font-face {
  font-family: 'gotham_light';
  src: url('../fonts/GothamLight.eot');
  src: url('../fonts/GothamLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamLight.woff') format('woff'),
  url('../fonts/GothamLight.ttf') format('truetype'),
  url('../fonts/GothamLight.svg') format('svg');
  font-weight: 100;
  font-style: normal;
}
/* END Light*/

/* BEGIN Medium*/
@font-face {
  font-family: 'gotham_medium';
  src: url('../fonts/GothamMedium.eot');
  src: url('../fonts/GothamMedium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamMedium.woff') format('woff'),
  url('../fonts/GothamMedium.ttf') format('truetype'),
  url('../fonts/GothamMedium.svg') format('svg');
  font-weight: 100;
  font-style: normal;
}
/* END Medium*/




@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?o1c3jr');
  src:  url('../fonts/icomoon/icomoon.eot?o1c3jr#iefix') format('embedded-opentype'),
  url('../fonts/icomoon/icomoon.ttf?o1c3jr') format('truetype'),
  url('../fonts/icomoon/icomoon.woff?o1c3jr') format('woff'),
  url('../fonts/icomoon/icomoon.svg?o1c3jr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
  content: "\e901";
}
.icon-close:before {
  content: "\e903";
}
.icon-download:before {
  content: "\e905";
}
.icon-arrow_down:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e907";
}
.icon-tick .path1:before {
  content: "\e908";
  color: rgb(237, 244, 244);
}
.icon-tick .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(13, 141, 150);
}
.icon-logo-mob-hdr:before {
  content: "\e900";
}


