@media screen and ( max-width: 1300px ) {

}

@media screen and ( min-width: 1200px ) {

}

@media screen and ( max-width: 1199px ) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1.6rem;
  }
  h5 {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }

  main {
    padding: 103px 0 100px;
  }

  header {
    .top-bar {
      .top-bar-left {
        a {
          i.icn {
            font-size: 1rem;
          }
        }
        img.logo_full {
          max-width: 80px;
        }
      }
      .top-bar-right {
        ul.menu.main_nav {
          li {
            a {
              font-size: 0.875rem;
              padding: 30px 5px 10px;
            }
            &:last-of-type {
              a {
                padding-right: 20px;
              }
            }
          }
        }
        ul.menu.contact_nav {
          li {
            a {
              font-size: 1rem;
              &:last-of-type {
                padding-right: 20px;
              }
            }
          }
        }
      }
    }
    &.shrink {
      .top-bar {
        .top-bar-left {
          img.logo_simple {
            max-height: 30px;
          }
        }
        .top-bar-right {
          ul.menu.main_nav {
            li {
              a {
                padding: 20px 5px 15px;
              }
              &:last-of-type {
                a {
                  padding-right: 20px;
                }
              }
            }
          }
        }
      }
    }
    &.homepage {
      .top-bar {
        .top-bar-left {
          padding-left: 20px;
          img.logo_full {
            max-width: 100px;
          }
        }
        .top-bar-right {
          ul.menu.contact_nav {
            li {
              a {
                padding-top: 10px;
              }
            }
          }
        }
      }
    }
  }

  section.slider_section {
    .orbit {
      nav.orbit-bullets {
        bottom: 10px;
      }
    }
  }

  section.page_title_section {
    .page_title_info {
      padding: 30px;
      h3 {
        margin-bottom: 15px;
      }
      h1 {
        margin-bottom: 15px;
      }
    }
    h2 {
      margin: 30px 0 0 30px;
    }
    &.testimonials1_page,
    &.testimonials2_page {
      .page_title_info {
        padding: 0 30px 30px;
        h1 {
          font-size: 1.6rem;
          margin-bottom: 15px;
        }
        h3 {
          font-size: 1rem;
          margin-bottom: 15px;
        }
      }
    }
  }

  section.main_nav_section header.homepage .top-bar .top-bar-right ul.menu.contact_nav li a {
    padding-top: 45px;
  }

  section.testimonial_section {
    margin: 100px 0;
    h3 {
      font-size: 1.2rem;
    }
  }

  footer {
    padding: 30px 50px 20px;
    font-size: 0.875rem;
    .env_agency {
      margin-top: 10px;
    }
    .contact_block {
      font-size: 1.2rem;
      a:last-of-type {
        font-size: 1rem;
      }
    }
  }
}

@media screen and ( max-width: 991px ) {
  main {
    padding: 101px 0 70px;
  }

  header .top-bar .top-bar-right ul.menu.main_nav li a {
    font-size: 0.75rem;
  }

  section.slider_section {
    .orbit {
      .orbit-wrapper {
        .orbit-container {
          .orbit-slide {
            .orbit-figure {
              .orbit-caption {
                bottom: 30px;
                left: 50px;
                .button {
                  margin: 25px 0 0;
                }
              }
            }
          }
        }
        .orbit-controls {
          button {
            width: 55px;
            &.orbit-previous {
              left: 10px;
            }
            &.orbit-next {
              right: 10px;
            }
          }
        }
      }
      nav.orbit-bullets {
        bottom: 0;
      }
    }
  }

  section.services_section a {
    padding: 40px 20px;
    .service_container {
      h3 {
        margin-bottom: 20px;
        font-size: 1rem;
      }
      img {
        margin-bottom: 20px;
        max-width: 110px;
      }
      p {
        font-size: 0.875rem;
      }
    }
  }

  section.about_section {
    margin-top: 20px;
    padding-top: 30px;
    h1 {
      margin-top: 20px;
    }
    img {
      max-width: 280px;
      margin: 0 auto 40px;
    }

    .plant_of_month {
      margin-top: 80px;
    }
  }

  section.page_title_section {
    .page_title_info {
      padding: 20px;
    }
    .logo_container {
      padding: 30px 25px 20px;
    }
    &.testimonials1_page,
    &.testimonials2_page {
      .page_title_info {
        padding: 20px;
      }
    }
  }

  section.popup_modal_section {
    .reveal_example_container {
      padding: 50px 0;
    }
  }

  .pricing_tables_container {
    h5 {
      margin: 5px 0 30px;
    }
    .pricing_table {
      padding-bottom: 80px;
      .header {
        h4 {
          font-size: 1rem;
        }
        p {
          font-size: 0.7rem;
        }
      }
      .body {
        padding: 0;
        .dropdown_container {
          margin-bottom: -1rem;
        }
        hr {
          margin: 1rem 0;
        }
        .price {
          padding-bottom: 0;
          span.price_val {
            font-size: 3rem;
          }
        }
        ul {
          li {
            font-size: 0.875rem;
            &.list_header {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
    .comments_block {
      p:first-of-type {
        margin-top: 0;
      }
    }
  }

  section.download_modules_section {
    p {
      margin-bottom: 30px;
    }
    .download_module {
      padding: 40px 15px 30px;
      min-height: 340px;
      .icn_container {
        bottom: 30px;
      }
    }
  }

  section.info_section {
    padding: 80px 0;
    .service_icon i.icn {
      font-size: 100px;
    }
    .tabs_nav_container {
      margin: 0 auto 40px;
      i.icn {
        top: 12px;
        left: 0;
        font-size: 6rem;
        transform: rotate(-25deg);
      }
    }
    .tabs-content {
      .tabs-panel {
        >p {
          margin-bottom: 40px;
        }
        .faq_container {
          margin-top: 100px;
        }
      }
    }
  }

  footer {
    padding: 30px 20px 20px;
    .env_agency {
      img {
        margin-right: 5px;
        max-width: 30px;
      }
      p {
        font-size: 0.65rem;
        line-height: 0.875rem;
      }
    }
    .contact_block {
      font-size: 1rem;
      margin-top: 15px;
      display: table;
      width: 100%;
      text-align: center;
      a {
        display: table-cell;
        width: 33.3%;
        font-size: 1rem;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
    img.crafted_by {
      max-width: 150px;
    }
  }
}


@media screen and ( max-width: 767px ) {

  main {
    padding: 49px 0 50px;
  }

  header {
    .top-bar {
      background-color: white;
      border: 1px solid $clr_midnight;
      .top-bar-left {
        display: none;
      }
      .top-bar-right {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        ul.menu.main_nav {
          padding: 20px 0;
          background-color: white;
          li {
            a {
              color: $clr_midnight;
              text-align: center;
              padding: 15px 5px 11px;
            }
            &:last-of-type {
              a {
                padding-right: 5px;
              }
            }
            &.active {
              a {
                color: white;
                background-color: $clr_midnight;
              }
            }
          }
        }
      }
    }
    &.shrink {
      .top-bar {
        .top-bar-right {
          ul.menu.main_nav {
            li:last-of-type {
              a {
                padding-right: 5px;
              }
            }
          }
        }
      }
    }
    &.homepage.shrink {
      background-color: transparent;
      .top-bar {
        .top-bar-right {
          background-color: white;
        }
      }
    }
  }

  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 0.875rem;
  }
  p {
    font-size: 0.875rem;
  }
  hr {
    margin: 1rem auto 1.5rem;
  }

  section.page_title_section {
    &.testimonials1_page,
    &.testimonials2_page {
      .page_title_info {
        h1 {
          font-size: 1.4rem;
          margin-bottom: 15px;
        }
        h3 {
          font-size: 0.875rem;
          margin-bottom: 15px;
        }
      }
    }
  }

  section.slider_section {
    margin-top: 49px;
    .orbit {
      .orbit-wrapper {
        .orbit-container {
          .orbit-slide {
            .orbit-figure {
              .orbit-caption {
                bottom: initial;
                top: 10px;
                left: 10px;
                p {
                  font-size: 1rem;
                  line-height: 1.2;
                }
                span {
                  font-size: 0.75rem;
                }
                .button {
                  margin: 15px 0 0;
                  font-size: 0.875rem;
                }
              }
            }
          }
        }
        .orbit-controls {
          button {
            width: 45px;
            top: initial;
            bottom: -30px;
            &.orbit-previous {
              left: 0;
            }
            &.orbit-next {
              right: 0;
            }
          }
        }
      }
    }
  }

  section.services_section a {
    padding: 40px 20px;
    .service_container {
      h3 {
        font-size: 0.75rem;
      }
      img {
        margin-bottom: 20px;
        max-width: 90px;
      }
      p {
        font-size: 0.75rem;
      }
    }
  }

  section.about_section {
    margin-top: 20px;
    padding-top: 30px;
    h1 {
      max-width: 100%;
    }
    img {
      max-width: 200px;
      margin: 0 auto 40px;
    }
    .plant_of_month {
      margin-top: 50px;
      h2 {
        margin-bottom: 20px;
      }
      h4 {
        margin-bottom: 15px;
      }
      img {
        margin: 0;
      }
    }
  }

  section.colors_section,
  section.typography_section,
  section.buttons_section,
  section.iconography_section,
  section.form_elements_section,
  section.popup_modal_section,
  section.pricing_tables_section,
  section.download_modules_section,
  section.main_nav_section,
  section.mobile_nav_section,
  section.tablet_nav_section,
  section.cookie_policy_section {
    margin-top: 40px;
  }

  section.buttons_section {
    h5 {
      margin-bottom: 20px
    }
    .btn_group_container {
      margin-top: 20px;
    }
  }

  section.popup_modal_section {
    .reveal_example_container {
      padding: 20px 20px;
    }
  }

  .pricing_tables_container {
    .pricing_table {
      margin-bottom: 40px;
    }
  }

  section.partners_section {
    padding: 40px 0 30px;
  }

  section.main_nav_section {
    header {
      &.homepage {
        background: transparent;
      }
    }
  }

  section.info_section {
    padding: 40px 0;
    .tabs-content {
      .tabs-panel {
        .faq_container {
          margin-top: 70px;
          .subtitle_container .icn_container {
            font-size: 50px;
            margin-bottom: 0;
          }
          .divider {
            margin: 40px auto 20px;
          }
          .faq_content {
            h3 {
              margin-top: 20px;
            }
          }
        }
      }
    }

  }

  section.testimonial_section {
    margin: 80px 0;
    h2 {
      margin-bottom: 20px;
    }
    h3 {
      font-size: 1rem;
      &:last-of-type {
        margin-top: 15px;
      }
    }
  }

  footer {
    padding: 30px 20px 20px;
    font-size: 0.875rem;
    .logo_block {
      max-width: 100%;
      text-align: center;
      margin-bottom: 20px;
    }
    ul.social {
      margin: 20px auto;
    }
    nav {
      a {
        line-height: 24px;
      }
    }
    .footer_menu_pages,
    .footer_menu_services {
      text-align: right;
    }
    &.mobile {
      ul.social {
        margin: 10px 0;
        li {
          margin-right: 10px;
          padding-right: 10px;
          &:last-of-type {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }

  .divider_with_icon {
    margin: 40px auto;
  }

  .reveal#outdatedBrowser {
    padding: 90px;
    h4 {
      font-size: 1rem;
      margin-left: 20px;
      img {
        max-width: 50px;
        left: -70px;
        top: -15px;
      }
    }
    h3 {
      font-size: 2rem;
      margin: 40px 0 20px;
    }
    p {
      color: $clr_tan_mid;
      font-family: gotham_light;
    }
    ul {
      text-align: center;
      li {
        list-style: none;
        display: inline-block;
        margin-right: 15px;
        a {
          img {
            max-width: 50px;
          }
        }
      }
    }
  }
}

@media screen and ( max-width: 575px ) {

  section.slider_section {
    margin-top: 49px;
    .orbit {
      .orbit-wrapper {
        .orbit-container {
          .orbit-slide {
            .orbit-figure {
              .orbit-caption {
                bottom: initial;
                top: 0;
                left: 0;
                p {
                  font-size: 0.75rem;
                  line-height: 1;
                  font-family: gotham_medium;
                }
                span {
                  font-size: 0.6rem;
                  margin-top: 5px;
                }
                .button {
                  margin: 5px 0 0;
                  line-height: 1rem;
                  padding: 7px 10px 5px;
                  font-size: 0.5rem;
                }
              }
            }
          }
        }
      }
    }
  }

  section.services_section a {
    padding: 20px 10px 15px;
    .service_container {
      h3 {
        margin-bottom: 10px;
      }
      img {
        margin-bottom: 10px;
      }
      p {
        font-size: 0.875rem;
      }
    }
  }

  section.about_section {
      &:before {
        top: 0;
        background-size: cover;
        background-position: right center;
      }
    h2 {
      margin-bottom: 15px;
    }
    img {
      max-width: 200px;
      margin: 0 auto 40px;
    }
    .plant_of_month {
      margin-top: 30px;
      h4 {
        margin-top: 20px;
      }
    }
  }

  section.page_title_section {
    .img_container {
      height: 250px;
    }
    .logo_container {
      margin-left: 15px;
    }
    h2 {
      margin: 5px 15px 0 15px;
    }
    &.testimonials1_page,
    &.testimonials2_page {
      .img_container {
        background-image: url("../img/testimonials/testimonials1.jpg");
        background-size: cover;
      }
    }
    &.testimonials2_page {
      .page_title_info {
        text-align: left;
        float: none;
      }
    }
  }

  section.colors_section {
    h5 {
      margin-top: 10px;
    }
  }

  section.popup_modal_section {
    .reveal_example_container {
      padding: 10px 10px;
      .reveal_example {
        padding: 40px 30px 30px;
      }
    }
  }

  section.download_modules_section {
    p {
      margin-bottom: 20px;
    }
    .download_module {
      padding: 30px 15px 10px;
      min-height: 240px;
      margin-bottom: 20px;
      .icn_container {
        bottom: 10px;
      }
    }
  }

  section.partners_section {
    padding: 20px 0 20px;
    a {
      img {
        width: 70%;
        max-width: 80px;
        margin-bottom: 10px;
      }
    }
  }

  section.info_section {
    .tabs_nav_container {
      display: block;
      i.icn {
        top: 90px;
      }
      ul.tabs {
        display: block;
        li.tabs-title {
          float: none;
        }
      }
    }
    .tabs-content {
      .tabs-panel {
        .faq_container {
          margin-top: 50px;
        }
      }
    }
    .service_icon {
      margin: 30px 0 15px;
      i.icn {
        font-size: 70px;
      }
    }
  }

  section.testimonial_section {
    margin: 50px 0;
    h2 {
      margin-bottom: 10px;
      font-size: 1.2rem;
    }
    h3 {
      font-size: 0.875rem;
      &:last-of-type {
        margin-top: 15px;
      }
    }
  }
  .reveal {
    padding: 30px 20px;
  }
  .reveal#outdatedBrowser {
    padding: 50px 20px;
    h4 {
      margin-left: 40px;
      img {
        max-width: 30px;
        left: -40px;
        top: -7px;
      }
    }
  }
}